
.modal-header {
    background-color: #3498db;
}

.modal-title {
    color: white;
}

.modal-content {
    padding-top: 0px;
    border-radius: 0;
    border: 5px solid #3498db;
}

.hidden {
    display: none;
}

.btn-purple {
    background-color: #8000ff;
    color: white;
}

.btn-purple:hover {
    color: white;
    background-color: #6906cc;
}